<!-- Describe task in general -->

<p style="text-align: justify;">
    考虑一个大写字母字符（A-Z）序列。如果序列中相邻字符之间的距离相同，则称该序列具有 "恒定步长"。例如，A 和 B 之间的距离是 1，D 和 F 之间的距离是 2，P 和 V 之间的距离是 6，Z 和 C 之间的距离是 3 等等。请注意，从 Z 到 C 的 "环绕 "是有定义的。以下序列具有 "恒定步长"：
</p>

<pre>
    ACEG... step = 2
    AZYX... step = 25
</pre>

<p style="text-align: justify;">
    如果两个或多个序列的相邻元素之间恰好被另一个序列的一个元素隔开，则称这两个或多个序列为 "交织 "序列。例如，以下序列是相互交织的：
</p>

<pre>
    AQBRCSDT... sequences: ABCD... step = 1
                           QRST... step = 1
    AZTAYRAXP...sequences:  AAA... step = 0
                            ZYX... step = 25
                            TRP... step = 24
</pre>

<p style="text-align: justify;">
    对于给定的由 1、2 或 3 个（自己找出）相互交织的序列组成的 12 个字符的字符串，返回该序列的下一个 12 个字符。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sequence-analyzer.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出： 字符串</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>任务来自<a target="_blank" href="https://icpc.global/worldfinals/problems/1980-ICPC-World-Finals/1980.pdf">The International Collegiate Programming Contest - 1980</a> 。</i></p>
