<!-- Describe task in general -->

<p style="text-align: justify;">
    Consider a sequence of uppercase alphabetic characters (A-Z). The sequence is said to have a "constant step" if the distance between adjacent characters in the sequence is the same. For example, the distance between A and B is 1, D and F is 2, P and V is 6, Z and C is 3 etc. None that "wraparound" from Z to C is defined. The following sequences have a "constant step":
</p>

<pre>
    ACEG... step = 2
    AZYX... step = 25
</pre>

<p style="text-align: justify;">
    Two or mor sequences are said to be "intertwined" if their adjacent elements are separated by exactly one element of each of the other sequences. For example, the following sequences are intertwined:
</p>

<pre>
    AQBRCSDT... sequences: ABCD... step = 1
                           QRST... step = 1
    AZTAYRAXP...sequences:  AAA... step = 0
                            ZYX... step = 25
                            TRP... step = 24
</pre>

<p style="text-align: justify;">
    For the given string of 12 characters of 1, 2 or 3 (find out it by yourself) intertwined sequences, return the next 12 character of the sequence.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sequence-analyzer.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> String <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> String <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>The mission was taken from <a target="_blank" href="https://icpc.global/worldfinals/problems/1974-ICPC-World-Finals/1974-Texas.pdf">The International Collegiate Programming Contest - 1980</a>.</i></p>